  <p><span class="standout">Edward J. Emering</span> is a Chicago area based photographer specializing in candid portraiture, macro and fetish photography. His photographic work has appeared in numerous and diverse magazines and journals, including SCUBA Times, Underwater Geographic, Trailprints, the Medal Collector, Bizarre and Nude Freitas. His work has also been exhibited in Chicago art galleries and museums. He currently has numerous book titles, which feature his macro photography.</p>
  <p>Ed believes strongly in the endless possibilities of capturing beauty with his camera. He has often remarked, "Beauty is all around us. Sometimes hiding in the most unlikely places. It just requires the skillful eye of the beholder to uncover it."
  <br>
  <p><span class="standout">The following pages contain images of artistic nudity. If you are offended by such images, please exit this section.</span></p>
 
<br>