// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
	color: #ccc;
	width: 100pct;
	//border: 1px solid red;
}

.row {
  //border: 1px solid red;
}

ul {
  list-style-type: none;
  overflow: hidden;
  //border-top: 1px solid gray;
  //border-bottom: 1px solid gray;
}

li {
  //float: left;

}

li.text {
  color: white;
  font-weight: bold;
  font-size: larger;
  margin: 17px;
}

li a, li a:hover, li a:visited {
  color: white;
}

.all_content {
  border: 1px solid red;
}

.container{
  //border: 1px solid red;
  margin-left: 0px;
  margin-top: -50px;
  overflow: hidden;
  //width: 635px;
}

.standout {
  color: white;
  font-weight: bold;
}

.content {
  width: 400px;
  //border: 1px solid green;
}

.nav {
  margin-left: -47px;
}

.link_title a, .link_title a:hover, .link_title a:visited {
  color: white;
  font-weight: bold;
  font-size: larger;
}
.link_url a, .link_url a:hover, .link_url a:visited {
  color: gray;
}

