<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="shortcut icon" href="http://www.parallax-tripleephotography.com/indeximg/favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%= stylesheet_link_tag    "application"%>
<title>Parallax-Triple E</title>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>

<body id="body">
  <div class="container">
	<div class="row">
	  <div class="span10">
	    <a href="/" target=_top ><img src="/indeximg/logo.jpg" width="300" height="100" border=0></a><img src="/indeximg/base.jpg" width="325" height="100">
	  </div>
	</div>
	<br>
	</br>
    <div class="row all_content">
      <div class="span2">
        <nav>
          <ul>
            <li><a href="#"><img src="/indeximg/gallery.jpg" width="150" height="50" border="0"></a></li>
            <li><a href="#"><img src="/indeximg/models.jpg" width="150" height="50" border="0"></a></li>
            <li><a href="#"><img src="indeximg/books.jpg" width="150" height="50" border="0"></a></li>
            <li><a href="#"><img src="/indeximg/links.jpg" width="150" height="50" border="0"></a></li>
        </nav>
      </div>
      <div class="span5">
        <%= yield %>
      </div>
    </div>
    <div class="row">
	  <div class="offset1 span5">
        <a href="mailto:ParallaxTripleE@aol.com" target="_blank" >Contact Ed Emering</a> Copyright ©2008 The Emering Companies, LLC </p></th>
      </div>
  </div>
  <div class="google-analytics">
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"> </script>
    <script type="text/javascript">
      _uacct = "UA-3717285-1";
      urchinTracker();
    </script>
  </div>


</body>
</html>

